
<link href="~/Content/animate.css" rel="stylesheet" />


@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="fill-screen">
           
            <div class="content-center">
                <div class="row hidden-sm hidden-xs">
            <div class="col-xs-12">
                <h2 class="TypedHeader"><span class="TypedContent"></span></h2>
            </div>
        </div>
                
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:5px;">
                        <select class="form-control input-lg" id="CitySelect">
                            @foreach (var item in ViewBag.Cities)
                              {
                            <option class="item" id="@item.Id" value="@item.Id">
                                @item.CityName
                            </option>
                              }
                        </select>

                    </div>
                    <div class="col-md-6" style="margin-bottom:5px;">
                        <select class="form-control input-lg" id="ServicesSelect">
                            <option class="item">Any</option>
                            @foreach (var item in ViewBag.LawServices)
                            {
                                <option class="item" id="@item.Id" value="@item.Id">
                                    @item.Name
                                </option>
                            }
                        </select>
                        @*<input id="project" class="form-control input-lg" placeholder="Select Service or Type Lawyer Name">
                        <input id="projectVal" type="hidden" />
                        <input id="categ" type="hidden" />*@
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 text-center">
                        <button class="btnSearch" id="searchLawyer">Search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div class="row line-separator"></div>

<div class="row activity-section" style="margin-top:50px;">
    <div class="row">
        <div class="text-banner">
            <h1>we help you in</h1>
        </div>
    </div>
    <div class="row">
        <div class="activity-element col-md-4 wow fadeInLeft">
            <img src="~/images/searchdiv2.png" />
            <h2>Search Lawyers</h2>
            <p class="txtDes">Search our database of lawyers to find the perfect lawyer for your legal needs</p>

            <button class="btnmore">More</button>
        </div>
        <div class="activity-element col-md-4 wow fadeInLeft">

            <img src="~/images/legal_consulting.png" />
            <h2>Legal Consulting</h2>
            <p class="txtDes">The law is complex, but we make it easy to get expert answers from seasoned lawyers.</p>
            <button class="btnmore">More</button>
        </div>
        <div class="activity-element col-md-4 wow fadeInLeft">

            <img src="~/images/legal_documentation.png" />
            <h2>Legal Documentation</h2>
            <p class="txtDes">Filing legal documents doesn't have to be hard. Let us do for you</p>
            <button class="btnmore">More</button>
        </div>
    </div>
</div>

<div class="row activity-section" style="margin-top:50px;">
   <div class="row">
       <div class="text-banner">
           <h1>we're always here to help</h1>
       </div>
   </div>
   <div class="row activity-section">
       <div class="activity-element1 col-md-4 wow fadeInLeft">
           <img class="img-responsive img-circle" src="~/images/employee-justina-m-circle.jpg" />
       </div>
        <div  class="activity-element1 col-md-4 wow fadeInLeft">
            <img class="img-responsive img-circle" src="~/images/employee-justina-m-circle.jpg" />
        </div>
        <div class="activity-element1 col-md-4 wow fadeInLeft">
            <img class="img-responsive img-circle" src="~/images/employee-justina-m-circle.jpg" />
        </div>
       
      
    </div>
</div>
<div class="row activity-section" style="margin-top:50px;">
    <div class="row">
        <div class="text-banner">
            <h1>Have questions? Get in touch today.</h1>
        </div>
     </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-6 col-sm-6">
            <form  role="form" method="post">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Enter Name" />
                   
                </div>
                <div class="form-group">
                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="example@domain.com" value="">
                </div>
                <div class="form-group">
                        <textarea class="form-control input-lg" rows="4" name="message"></textarea>
                </div>
             
                <div class="form-group">
                   <button class="btnContactUs">Contact Us</button>
                </div>
             
            </form>
        </div>
        <div class="col-md-3 col-sm-3">

        </div>
    </div>
</div>





<script src="~/Scripts/typed.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>    
    $(function () {
        $("span.TypedContent").typed({
            strings: ["Search Lawyers", "Legal Consulting", "Legal Documentations"],
            backDelay: 1500,
            typeSpeed: 100,
            backSpeed: 100,
            loop: true
        });
        $("#searchLawyer").click(function () {
            $.ajax({
                url: '@Url.Action("SetSearchLawyersParam", "Lawyers")',
                type: 'POST',
                data: {
                    "LawServiceList": $("#ServicesSelect").val(),
                    "CityList": $("#CitySelect").val()
                },
                success: function (data) {
                    var url = '@Url.Action("SearchLawyers", "Lawyers")';
                    window.location.href = url;
                }
            });
        });
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
            $(".fill-screen1").css("height", window.innerHeight * 0.2);
            new WOW().init();
            
        })
        
        $(document).ready(function () {
            
            var selectedValue = localStorage.getItem("MenuCityId")
            $("#CitySelect").val(selectedValue);
            $('#quote-carousel').carousel({
                pause: true,
                interval: 4000,
            });

            //Old Functions

            var selectItem = function (event, ui) 
            {
                $("#projectVal").val(ui.item.value);
                $("#project").val(ui.item.label);
                $("#categ").val(ui.item.category);

                if ($("#categ").val() == "Lawyers") {
                    window.location.href = "/Profile/MemberProfile/" + ui.item.username;
                }
                else {
                    $.ajax({
                        url: '@Url.Action("SetSearchLawyersParam", "Lawyers")',
                        type: 'POST',
                        data: {
                            "LawServiceList": $("#projectVal").val(),
                            "CityList": localStorage.getItem("MenuCityId")
                        },
                        success: function (data) {
                            var url = '@Url.Action("SearchLawyers", "Lawyers")';
                            window.location.href = url;
                        }
                    });
                }
                return false;
            }

            $.widget("custom.catcomplete", $.ui.autocomplete, {
                _create: function () {
                    this._super();
                    this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
                },
                _renderMenu: function (ul, items) {
                    var that = this,
                      currentCategory = "";
                    $.each(items, function (index, item) {
                        var li;
                        if (item.category != currentCategory) {
                            ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                            currentCategory = item.category;
                        }
                        li = that._renderItemData(ul, item);
                        if (item.category) {
                            li.attr("aria-label", item.category + " : " + item.Name);
                        }
                    });
                }
            });

            $("#project").catcomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetServices",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Id, username: item.UserName, category: item.category };
                            }).slice(0, 5))
                        }
                    })
                },
                minLength: 0,
                max: 5,
                select: selectItem,
                autoFocus: true
            }).bind('focus', function () { $(this).catcomplete("search", " "); });;

        });
        $("#CitySelect").change(function () {
            var cityid = $("#CitySelect").val()
            var selText = $("#CitySelect option:selected").text();
            localStorage.setItem("MenuCityName", selText);
            localStorage.setItem("MenuCityId", cityid);
        });
    });
</script>
