
<link href="~/Content/animate.css" rel="stylesheet" />


@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="fill-screen">
           
            <div class="content-center">
                <div class="row hidden-sm hidden-xs">
            <div class="col-xs-12">
                <h2 class="TypedHeader"><span class="TypedContent"></span></h2>
            </div>
        </div>
                
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:5px;">
                        <select class="form-control input-lg" id="CitySelect">
                            @foreach (var item in ViewBag.Cities)
                              {
                            <option class="item" id="@item.Id" value="@item.Id">
                                @item.CityName
                            </option>
                              }
                        </select>

                    </div>
                    <div class="col-md-6" style="margin-bottom:5px;">
                        <input id="project" class="form-control input-lg" placeholder="Select Service or Type Lawyer Name">
                        <input id="projectVal" type="hidden" />
                        <input id="categ" type="hidden" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 text-center">
                        <button class="btnSearch" id="searchLawyer">Search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div class="row line-separator"></div>

<div class="row activity-section">
    <div class="activity-element col-md-4 wow fadeInLeft">
        <img src="~/images/searchdiv2.png" />
        <h2>Search Lawyers</h2>
        <p class="txtDes">Search our database of lawyers to find the perfect lawyer for your legal needs</p>
        
        <button class="btnmore">More</button>
    </div>
    <div class="activity-element col-md-4 wow fadeInLeft">

        <img src="~/images/legal_consulting.png" />
        <h2>Legal Consulting</h2>
        <p class="txtDes">The law is complex, but we make it easy to get expert answers from seasoned lawyers.</p>
        <button class="btnmore">More</button>
    </div>
    <div class="activity-element col-md-4 wow fadeInLeft">

        <img src="~/images/legal_documentation.png" />
        <h2>Legal Documentation</h2>
        <p class="txtDes">Filing legal documents doesn't have to be hard. Let us do for you</p>
        <button class="btnmore">More</button>
    </div>
</div>



<div class="row fill-screen1">
   
    @*<div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
            <h2>So far ....</h2>
        </div>
    </div>*@
    <div class='row'>
        <div class='col-md-offset-2 col-md-9'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                @*<div class="col-sm-3 text-center">*@
                                    @*<img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">*@
                                    <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                                @*</div>*@
                                <div class="col-sm-12">
                                    <p class="qitemtext">India has 1.5 Million Lawyers </p>
                                   
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                @*<div class="col-sm-3 text-center">
                                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                                </div>*@
                                <div class="col-sm-12">
                                   <p class="qitemtext">Over 3 crore court cases pending across country</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="qitemtext">There are 500 Courts across India</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
   
</div>
 
<div class="row line-separator"></div>
<div class="row">
     <h1 class="text-center">Contact us</h1>
     <div class="col-md-7 col-md-offset-3">
         <input type="text" placeholder="Enter Your Email" class="form-control input-lg" />
         
     </div>
</div>



<script src="~/Scripts/typed.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>
    $(function () {
        $("span.TypedContent").typed({
            strings: ["Search Lawyers", "Legal Consulting", "Legal Documentations"],
            backDelay: 1500,
            typeSpeed: 100,
            backSpeed: 100,
            loop: true
        });

        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
            $(".fill-screen1").css("height", window.innerHeight * 0.2);
            new WOW().init();
            
        })
        
        $(document).ready(function () {
            
            var selectedValue = localStorage.getItem("MenuCityId")
            $("#CitySelect").val(selectedValue);
            $('#quote-carousel').carousel({
                pause: true,
                interval: 4000,
            });

            //Old Functions

            var selectItem = function (event, ui) 
            {
                $("#projectVal").val(ui.item.value);
                $("#project").val(ui.item.label);
                $("#categ").val(ui.item.category);

                if ($("#categ").val() == "Lawyers") {
                    window.location.href = "/Profile/MemberProfile/" + ui.item.username;
                }
                else {
                    $.ajax({
                        url: '@Url.Action("SetSearchLawyersParam", "Lawyers")',
                        type: 'POST',
                        data: {
                            "LawServiceList": $("#projectVal").val(),
                            "CityList": localStorage.getItem("MenuCityId")
                        },
                        success: function (data) {
                            var url = '@Url.Action("SearchLawyers", "Lawyers")';
                            window.location.href = url;
                        }
                    });
                }
                return false;
            }

            $.widget("custom.catcomplete", $.ui.autocomplete, {
                _create: function () {
                    this._super();
                    this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
                },
                _renderMenu: function (ul, items) {
                    var that = this,
                      currentCategory = "";
                    $.each(items, function (index, item) {
                        var li;
                        if (item.category != currentCategory) {
                            ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                            currentCategory = item.category;
                        }
                        li = that._renderItemData(ul, item);
                        if (item.category) {
                            li.attr("aria-label", item.category + " : " + item.Name);
                        }
                    });
                }
            });

            $("#project").catcomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetServices",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Id, username: item.UserName, category: item.category };
                            }).slice(0, 5))
                        }
                    })
                },
                minLength: 0,
                max: 5,
                select: selectItem,
                autoFocus: true
            }).bind('focus', function () { $(this).catcomplete("search", " "); });;

        });
        $("#CitySelect").change(function () {
            var cityid = $("#CitySelect").val()
            var selText = $("#CitySelect option:selected").text();
            localStorage.setItem("MenuCityName", selText);
            localStorage.setItem("MenuCityId", cityid);
        });
    });
</script>
