@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>LawyerJee.com</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @*@Styles.Render("~/Content/themes/base/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryselection")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")   
    @Scripts.Render("~/bundles/customjs")
    @*<link href="~/Content/Layout.css" rel="stylesheet" />*@
    <link href="~/Content/SideBarMenu.css" rel="stylesheet" />
    <style>
        #btnHumburger{
            display:block;
        }
    </style>
</head>
<body>
    <link href="~/Content/MainMenu.css" rel="stylesheet" />
        @*<div class="header_main" style="border-bottom: 1px solid #FF9900">*@
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" onclick="location.href='@Url.Action("Index","Home")'">
                            <img class="img img-responsive" src="~/images/ljeelogo.png" />
                        </a>
                        @*<a href="#" onclick="location.href='@Url.Action("Index","Home")'"><img src="~/images/logo.png"></a>*@
                    </div>

                    @*<div class="navbar-collapse collapse">*@ 
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="typeahead-menu">
                                <form class="navbar-form" action="#" role="search">
                                    <input type="text" id="Lawyer" data-provide="typeahead" autocomplete="off" class="form-control typeahead" name="LawyerName" placeholder="Type name to search verified lawyers across the country">
                                    <br/>
                                    <input type="hidden" class="span1" name="bondId" id="bondId" value="" />
                                </form>
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>
        </header>
        @*</div>*@
    <div class="sidebar closed">
        <div class="text-right">
            <button id="closeSideBar">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <a class="sidebarLogo" onclick="location.href='@Url.Action("Index","Home")'">
                <img class="img img-responsive" src="~/images/ljeelogo.png" />
            </a>
            <hr />
            <div class="sidebar-menu">
                <ul>
                    @if(Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        <li style="padding-bottom: 60px;height:200px"><img id="SideBarProfilePic" src="~/images/avatar_default.png" class="img img-thumbnail" style="width:200px;height:200px;" /></li>
                        <li style="padding-bottom: 60px;"><h2>Hello @User.Identity.GetUserName()</h2></li>
                        <li>@Html.ActionLink("Manage", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage"})</li>
                        <li>@Html.ActionLink("Request Consulting", "AskQuestion", "Questions", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                        <li>@Html.ActionLink("Request Document", "Create", "Document", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
        <div class="container-fluid">
            @RenderBody()
        </div>  
       @*<footer class="footer">
           <div class="logorow">
               <div class="col-md-6 col-sm-6">
                   <p>© 2015 lawyer.com develop by xyz</p>
               </div>
           </div>
       </footer>*@  
        @*<footer class="footer">
            <div class="container">
                <div>
                    <div class="col-md-6 col-sm-6">
                        <p>© 2015 lawyer.com develop by xyz</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="social_main">
                            <li><a class="social social-twitter" title="twitter" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-facebook" title="facebook" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-linkedin-square" title="linkedin" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-pinterest" title="pinterest" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-instagram" title="instagram" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-youtube" title="youtube" target="_blank" href="#">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>*@
            @RenderSection("scripts", required: false)
    
    <script>
        var showSideMenu = true;
        $("#btnHumburger,#closeSideBar").click(function () {
            if (showSideMenu == true) {
                $(".sidebar").animate({ left: '0px' });
                showSideMenu = false;
            }
            else {
                $(".sidebar").animate({ left: '-300px' });
                showSideMenu = true;
            }   
        });
        
    </script>
    @if(Request.IsAuthenticated)
    {
        <script>
            $(document).ready(function () {
                alert
                $.ajax({
                    url: '@Url.Action("GetProfilePicURL", "Account")',
                    type: 'GET',
                    success: function (data) {
                        if (data != "") {
                            $("#SideBarProfilePic").attr("src", data);
                        }
                    }
                });
            });
        </script>
    }
</body>
</html>
