<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>LawyerJee.com</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @*@Styles.Render("~/Content/themes/base/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryselection")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")   
    @Scripts.Render("~/bundles/customjs")

</head>
<body>
    @*<div class="header_main" style="border-bottom: 1px solid #FF9900">*@
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="m1">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" onclick="location.href='@Url.Action("Index","Home")'">LawyerJee</a>
                        @*<a href="#" onclick="location.href='@Url.Action("Index","Home")'"><img src="~/images/logo.png"></a>*@
                    </div>



                    <div class="collapse navbar-collapse" id="m1">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>
        </header>
    @*</div>*@
  
    <div>
        @RenderBody()
    </div>
    <div>
        <footer>
            @*<div class="container">
                <div>
                    <div class="col-md-6 col-sm-6">
                        <p>© 2015 lawyer.com develop by xyz</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="social_main">
                            <li><a class="fa fa-twitter" title="twitter" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-facebook" title="facebook" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-linkedin-square" title="linkedin" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-pinterest" title="pinterest" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-instagram" title="instagram" target="_blank" href="#">&nbsp;</a></li>
                            <li><a class="fa fa-youtube" title="youtube" target="_blank" href="#">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
