@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-map-marker"></span><span id="menuCityNameTop"></span><span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-cart" role="menu">

                @foreach (var item in ViewBag.Cities)
                {
                    <li style="float:none;text-align:center">
                        <span class="item" id=@item.Id>
                            @item.CityName
                        </span>
                    </li>
                }
                <li class="divider" style="padding:0;float:none;margin:0px;"></li>
                <li><a class="text-center" href="">View All Cities</a></li>
            </ul>
        </li>*@
    
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName()<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li style="float:none;text-align:center;padding:0px;">@Html.ActionLink("Manage", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage", style = "padding: 10px 20px" })</li>
                <li role="separator" class="divider" style="padding:0;float:none;margin:0px;"></li>
                <li style="float:none;text-align:center;padding:0px;"><a style="padding:10px 20px" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>

        <li><button class="btn btn-warning navbar-btn" type="button" onclick="location.href='@Url.Action("RegisterAsLawyerstep1", "Lawyers")'">Join as a Lawyer</button></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        

            @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-map-marker"></span><span id="menuCityNameTop"></span><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-cart" role="menu">
                   
                    @foreach (var item in ViewBag.Cities)
                    {
                        <li style="float:none;text-align:center">
                            <span class="item" id=@item.Id>
                                @item.CityName
                            </span>
                        </li>
                    }
                    <li class="divider" style="padding:0;float:none;margin:0px;"></li>
                    <li><a class="text-center" href="">View All Cities</a></li>
                </ul>
            </li>*@
   
       
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>  
        <li><button class="btn btn-warning navbar-btn" type="button" onclick="location.href='@Url.Action("RegisterAsLawyerstep1", "Lawyers")'">Join as a Lawyer</button></li>
      
        @*<li>@Html.ActionLink("Join as a Lawyer ", "RegisterAsLawyer", "Lawyers",null, new { @class = "btn btn-warning navbar-btn" })</li>*@  
    </ul>
}







<script type="text/javascript">
    $(document).ready(function () {

      
        //alert("login");
        $("#menuCityNameTop").html(localStorage.getItem("MenuCityName"));

        var selectedValue = localStorage.getItem("MenuCityName");

        //alert(selectedValue);
        $('.dropdown ul > li > span:contains("' + selectedValue + '")').parent('li').addClass("active");
        $('.dropdown ul > li > span:contains("' + selectedValue + '")').trigger('click');




       
        $(".dropdown-menu li span").click(function () {
            var selText = $(this).html();
            var cityid = $(this).attr("id");
            localStorage.setItem("MenuCityName", selText);
            localStorage.setItem("MenuCityId", cityid);
          //  savecityidinsession(cityid)
            //$(this).parents('.dropdown').find('.dropdown-toggle').html('<span class="glyphicon glyphicon-map-marker"></span>' + selText);
            $("#menuCityNameTop").html(selText);
        });

    });
</script>