@model LawyersAdda.Entities.Question

@{
    ViewBag.Title = "QuestionInDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question In Details</h2>

<p>
    @Html.ActionLink("Create New", "AskQuestion")
</p>
<div class="container">
        <div>
            <div>
                <h3>Question : @ViewBag.Questions.Title </h3>
            </div>
            <div>
                <strong>Date : </strong> @ViewBag.Questions.ModifiedDate 
            </div>
            <div>
                <strong>
                    Question(in Detail):
                </strong><br/>
                    @Html.Raw(@ViewBag.Questions.HTMLText)
            </div>
            <hr/>
            @if(ViewBag.Answers.Count>0)
            {
                foreach (var item in ViewBag.Answers)
                {
                <div>
                    <p>
                        <strong>Date :</strong> @item.AnswerModifiedDate<br/>
                        <strong>Answer:</strong><br />@Html.Raw(@item.HTMLText)
                    </p>
                </div>
                }
                <div>
                        <a href="/Answers/EditAnswer/@ViewBag.Questions.QuestionID"> <button class="btn btn-default"> Edit Answer </button></a>
                </div>
            }
            else
            {
                <div>
                        <a href="/Answers/GiveAnswer/@ViewBag.Questions.QuestionID"> <button class="btn btn-default"> Give Answer </button></a>
                    </div>
            }
</div>
</div>