@model LawyersAdda.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="text-banner">
        <h1>Thanks for becoming lawyerJee member</h1>
    </div>
</div>
<div class="col-md-8 col-md-offset-2">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal",id="Form1", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control input-lg Reset", @placeholder = "Your Full Name" })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg Reset", @placeholder = "Provide a UserName" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                <span id="UserExist"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg Reset", @placeholder = "Your Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <span id="EmailExist"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg Reset", @placeholder = "Password must be at least 6 character long" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input type="submit" class="form-control btnRegister" value="Register" />
            </div>
            
        </div>
    }
</div>
<script>
    var isAuthenticatedEmail = false;
    $("#Form1").submit(function () {
        checkEmail();
        if (isAuthenticatedEmail == true) {
            return true;
        }
        else {
            return false;
        }
    });
    $("#Email").blur(function () {
        checkEmail();
    });
    $("#UserName").blur(function () {
        checkUser();
    });
    function checkUser() {
        $.ajax({
            type: 'POST',
            url: '/Lawyers/CheckUser',
            dataType: 'json',
            data: { UserName: $("#UserName").val() },
            success: function (data) {
                if (data == false) {
                    $("#UserExist").html("This User Name Not Exists. Use Different User Name");
                    isAuthenticatedUser = false;
                }
                else {
                    $("#UserExist").html("");
                    isAuthenticatedUser = true;
                }
            }
        });
    }
    function checkEmail() {
        $.ajax({
            type: 'POST',
            url: '/Lawyers/CheckEmail',
            dataType: 'json',
            data: { Email: $("#Email").val() },
            success: function (data) {
                if (data == false) {
                    $("#EmailExist").html("This Email ID already Registed. User Different Email Address");
                    isAuthenticatedEmail = false;
                }
                else {
                    $("#EmailExist").html("");
                    isAuthenticatedEmail = true;
                }
            }
        });
    }
    $(".Reset").keydown(function () { reset(); });
    function reset() {
        $(".field-validation-error").empty();
    }
</script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
