
<script src="~/Scripts/jquery-2.1.4.js"></script>

@model dynamic
@{
    ViewBag.Title = "AddCourtToLawyer";
}

<div class="text-banner">
    <h1>Thanks for joining us as Lawyer !</h1>
</div>
<div class="col-md-8 col-md-offset-2">


    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">1</button>
                <p>Account</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">2</button>
                <p>Details</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">3</button>
                <p>Courts</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle" disabled="disabled">4</button>
                <p>Services</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle" disabled="disabled">5</button>
                <p>Photos</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle" disabled="disabled">6</button>
                <p>Yourself</p>
            </div>
        </div>
    </div>

    
    <div class="row">
        <h3 style="text-align:center">Add Courts</h3>
        <hr />
        <div class="row">
            <div class="col-md-5">
                @*@Html.Label("Select City")*@
                <div class="form-group">
                    @Html.DropDownList("CityList", new SelectList(string.Empty, "Value", "Text"), "Please select a City", new { @class = "form-control input-lg" })
                </div>
            </div>
            <div class="col-md-5">
                @*@Html.Label("Select Court")*@
                <div class="form-group">
                    @Html.DropDownList("CourtList", new SelectList(string.Empty, "Value", "Text"), "Please select a Court", new { @class = "form-control input-lg" })
                </div>
            </div>
            <div class="col-md-2">
                <button id="btnAddCourts" class="btnAddLawyerRegisterStep3 form-control">add</button>
            </div>
        </div>


    </div>

    <div class="row">
        
    </div>
    <br />

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table id="courttable" style="visibility:hidden" class="table">
                <tr>
                    <th>City</th>
                    <th>Court</th>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button id="btnSaveStep2" style="visibility:hidden" class="form-control btnRegister">Save and add Services</button>
        </div>
    </div>

    <div class="modal" id="ErrorResult">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="text-align:center" id="ErrorResultHeader"></h3>
                </div>
                <div class="modal-body" id="ErrorResultBody">
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning input-lg form-control" onclick="CloseModal();">OK</button>
                </div>
            </div>
        </div>
    </div>

    </div>

    <script type="text/javascript">
        function CloseModal() {
            $("#ErrorResult").hide();
        }
        var courtsoflawyer = [];
        var courtListToSave = [];
        $(document).ready(function () {
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetCities"))",
                success: function (data) {
                    $.each(data, function (id, option) {
                        $('#CityList').append($('<option></option>').val(option.Id).html(option.CityName));
                    });
                    //statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
            
            $("#CityList").change(function () {


                $("#CourtList").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCourts")',
                    dataType: 'json',
                    data: { cityId: $("#CityList").val() },
                    success: function (courts) {
                        // states contains the JSON formatted list
                        // of states passed from the controller

                        $.each(courts, function (i, court) {
                            //$("#CourtList").append('<option value="' + court.Value + '">' +
                            //     court.Name + '</option>');
                            // here we are adding option for States

                            $('#CourtList').append($('<option></option>').val(court.Id).html(court.Name));
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            });





            $('#btnAddCourts').click(function () {
                var alredayaddedflag = false;
                var cityname = $("#CityList option:selected").text();
                var cityid = $("#CityList option:selected").val();
                var courtname = $("#CourtList option:selected").text();
                var courtid = $("#CourtList option:selected").val();
                if (courtname == "" || courtname == "Please select a Court") {
                    //alert("Court is Empty");
                    $("#ErrorResultHeader").html("Court is Empty");
                    $("#ErrorResultBody").html("Please select atleast one Court");
                    $("#ErrorResult").show();
                }
                else {
                    // Creating object to add to array of courts
                    var objcourtsoflawyer = {
                        "cname": cityname,
                        "cid": cityid,
                        "crtname": courtname,
                        "crtid": courtid
                    };


                    // Logic to find whether court is already added before

                    for (var i = 0; i < courtsoflawyer.length; i++) {

                        if (courtsoflawyer[i]["crtid"] == courtid) {
                            alredayaddedflag = true;
                            break;
                        }
                    }



                    // if already added alert else add

                    if (alredayaddedflag == true) {
                        //alert("Alreday added");
                        $("#ErrorResultHeader").html("Court is Already Added");
                        $("#ErrorResultBody").html("The Court Which you want to add that is already added to list");
                        $("#ErrorResult").show();
                    }
                    else {
                        courtsoflawyer.push(objcourtsoflawyer);
                        courtListToSave.push(courtid);
                        $("#courttable").append('<tr><td>' + cityname + '</td><td>' + courtname + '</td><td><button class="btn btn-default btn-sm" hiddenvalue="' + courtid + '" onclick="RemoveCourt(this);"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td></tr>');
                        $("#courttable").css('visibility', 'visible');
                        $("#btnSaveStep2").css('visibility', 'visible');
                    }
                }
            });


            $('#btnSaveStep2').click(function () {

                $.ajax({
                    url: '@Url.Action("SaveCourtsToLawyers", "Lawyers")',
                    type: 'POST',
                    data: {
                        "courts": courtListToSave
                    },
                    success: function (data) {
                        //alert(data);
                        var url = '@Url.Action("RegisterAsLawyerstep4", "Lawyers")';
                        window.location.href = url;
                    }
                });
            });

        });
        //Removing Court
        function RemoveCourt(btnCurrent) {
            var CourtID = $(btnCurrent).attr("hiddenvalue");
            var indexOfArray = courtListToSave.indexOf(CourtID);
            courtsoflawyer.splice(indexOfArray, 1)
            courtListToSave.splice(indexOfArray, 1)
            console.log($(btnCurrent).parent().parent().remove());
            if (courtListToSave.length == 0) {
                $("#courttable").css('visibility', 'hidden');
                $("#btnSaveStep2").css('visibility', 'hidden');
            }
        }

    </script>
