
<script src="~/Scripts/jquery-2.1.4.js"></script>

@model dynamic
@{
    ViewBag.Title = "AddCourtToLawyer";
}

<h3 style="text-align:center">Thanks for joining as a Lawyer!</h3>
<div class="col-md-8 col-md-offset-2">


    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">1</button>
                <p>Account</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">2</button>
                <p>Your Details</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">3</button>
                <p>Add Courts</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle" disabled="disabled">4</button>
                <p>Add Services</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle" disabled="disabled">5</button>
                <p>Add Pic</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle" disabled="disabled">6</button>
                <p>Describe Yourself</p>
            </div>
        </div>
    </div>

    
    <div class="row">
        <h4>Add Courts to your Profile</h4>
     <hr />
        <div class="row">
            <div class="col-md-6">
                @Html.Label("Select City")
                <div class="form-group">
                    @Html.DropDownList("CityList", new SelectList(string.Empty, "Value", "Text"), "Please select a City", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.Label("Select Court")
                <div class="form-group">
                    @Html.DropDownList("CourtList", new SelectList(string.Empty, "Value", "Text"), "Please select a Court", new { @class = "form-control" })
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button id="btnAddCourts" class="btn btn-default form-control"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add</button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table id="courttable" style="visibility:hidden" class="table">
                <tr>
                    <th>City</th>
                    <th>Court</th>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button id="btnSaveStep2" style="visibility:hidden" class="btn form-control btn-warning">Save and Go to next step</button>
        </div>
    </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            var courtsoflawyer = [];
            var courtListToSave = [];

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetCities"))",
                success: function (data) {
                    $.each(data, function (id, option) {
                        $('#CityList').append($('<option></option>').val(option.Id).html(option.CityName));
                    });
                    //statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });



            $("#CityList").change(function () {


                $("#CourtList").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCourts")',
                    dataType: 'json',
                    data: { cityId: $("#CityList").val() },
                    success: function (courts) {
                        // states contains the JSON formatted list
                        // of states passed from the controller

                        $.each(courts, function (i, court) {
                            //$("#CourtList").append('<option value="' + court.Value + '">' +
                            //     court.Name + '</option>');
                            // here we are adding option for States

                            $('#CourtList').append($('<option></option>').val(court.Id).html(court.Name));
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            });





            $('#btnAddCourts').click(function () {

                var alredayaddedflag = false;
                var cityname = $("#CityList option:selected").text();
                var cityid = $("#CityList option:selected").val();
                var courtname = $("#CourtList option:selected").text();
                var courtid = $("#CourtList option:selected").val();

                // Creating object to add to array of courts
                var objcourtsoflawyer = {
                    "cname": cityname,
                    "cid": cityid,
                    "crtname": courtname,
                    "crtid": courtid
                };


                // Logic to find whether court is already added before

                for (var i = 0; i < courtsoflawyer.length; i++) {

                    if (courtsoflawyer[i]["crtid"] == courtid) {

                        alredayaddedflag = true;
                        break;
                    }
                }



                // if already added alert else add

                if (alredayaddedflag == true) {

                    alert("Alreday added");
                }
                else {
                    courtsoflawyer.push(objcourtsoflawyer);
                    courtListToSave.push(courtid);
                    $("#courttable").append('<tr><td>' + cityname + '</td><td>' + courtname + '</td><td><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td></tr>');
                    $("#courttable").css('visibility', 'visible');
                    $("#btnSaveStep2").css('visibility', 'visible');

                }

            });




            $('#btnSaveStep2').click(function () {

                $.ajax({
                    url: '@Url.Action("SaveCourtsToLawyers", "Lawyers")',
                    type: 'POST',
                    data: {
                        "courts": courtListToSave
                    },
                    success: function (data) {
                        alert(data);
                        var url = '@Url.Action("RegisterAsLawyerstep4", "Lawyers")';
                        window.location.href = url;
                    }
                });


            });




        });


    </script>
