
@{
    ViewBag.Title = "AddServiceToLawyer";

}

<h3 style="text-align:center">Thanks for joining as a Lawyer!</h3>
<div class="col-md-8 col-md-offset-2">



    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">1</button>
                <p>Account</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">2</button>
                <p>Your Details</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">3</button>
                <p>Add Courts</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle">4</button>
                <p>Add Services</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle"  disabled="disabled">5</button>
                <p>Add Pic</p>
            </div>
            <div class="stepwizard-step">
                <button class="btn btn-warning btn-circle" disabled="disabled">6</button>
                <p>Describe Yourself</p>
            </div>
        </div>
    </div>
    <h2>Choose services</h2>
    <hr />
    <div class="row text-center" id="total"></div>
    <br />
    <div class="row">
        @foreach (var service in ViewBag.ListofServices)
        {
            <div id='@service.Id' class="btn-default btn" onclick="addService('@service.Id')">
                @service.Name
            </div>
        }
    </div>
    <br />
    <div class="row text-center">
        <input type="button" class="btn-success btn" onclick="addServiceToLawyer()" value="Save and go to next step" />
    </div>
</div>

<script>
    var lawyerServices = [];
    function addService(id) {


        var service = document.getElementById(id);
        if (service.className == "btn-default btn") {
            lawyerServices.push(id);
            service.className = "btn-warning btn";
        }
        else {
            lawyerServices.splice(lawyerServices.indexOf(id), 1)
            service.className = "btn-default btn";
        }

        console.log(lawyerServices);

        var total = document.getElementById("total");
        if (lawyerServices.length > 0)
            total.innerHTML = "<h4>total " + lawyerServices.length + " services selected</h4>";
        else
            total.innerHTML = "";
    }

    function addServiceToLawyer() {
        $.ajax({
            url: '@Url.Action("SaveServicesToLawyers", "Lawyers")',
            type: 'POST',
            data: {
                "services": lawyerServices
            },
            success: function (data) {
                alert(data);
                var url = '@Url.Action("AddImagesToLawyer", "Lawyers")';
                window.location.href = url;
            }
        });
    }
</script>
