
@{
    ViewBag.Title = "Member";
}

<h2>Member</h2>

<section>
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article>
                    <div class="row">
                        <div class="col-md-5" style="position:relative">
                            <figure style="margin: 0 0 20px 0;">
                                @if (@ViewBag.Users.ProfilePicURL == null || @ViewBag.Users.ProfilePicURL == "")
                                {
                                    <img style="width: 100%; height: 285px;" onmouseout="HideEdit();" onmouseover="ShowEdit();" src="http://na1.www.gartner.com/imagesrv/apps/gcms/events/img/no_avatar.png;wa4b938a20593cb4ec" class="img-thumbnail img-responsive profile-pic" />
                                }
                                else
                                {
                                    <img style="width: 100%; height: 285px;" onmouseout="HideEdit();" onmouseover="ShowEdit();" src="@ViewBag.Users.ProfilePicURL" class="img-thumbnail img-responsive profile-pic" />
                                }
                            </figure>
                        </div>
                        <div class="col-md-7">
                            <h2 style="text-transform:capitalize">
                                @ViewBag.Users.FullName 
                            </h2>
                            <ul style="list-style: none outside; padding: 0; margin: 0 0 1.5em; overflow: hidden; zoom: 1; clear: both;">
                                <li style="margin-bottom:10px;"><a href="mailto:@ViewBag.Users.Email"><i class="glyphicon glyphicon-envelope"></i> @ViewBag.Users.Email</a></li>
                                @if (@ViewBag.Users.PhoneNumber != null)
                                {
                                    <li style="margin-bottom:10px;"><i class="glyphicon glyphicon-earphone"></i> @ViewBag.Users.PhoneNumber</li>
                                }
                                @if (@ViewBag.Users.CityId != null)
                                {
                                    <li style="margin-bottom:10px;"><i class="glyphicon glyphicon-map-marker"></i> @ViewBag.Users.City.CityName</li>
                                }
                                @{var i=0;}
                                <li style="margin-bottom:10px;">
                                    <strong>Courts : </strong>
                                    @foreach (var Court in @ViewBag.Users.Lawyer.Courts)
                                    {
                                        if (i==(@ViewBag.Users.Lawyer.Courts.Count-1))
                                        {
                                            <span>@Court.Name </span> 
                                        }
                                        else
                                        {
                                            <span>@Court.Name , </span>   
                                        }
                                        i++;
                                    }
                                </li>
                                @{i = 0;}
                                <li style="margin-bottom:10px;">
                                    <strong>Services : </strong>
                                    @foreach (var service in @ViewBag.Users.Lawyer.ServiceTypes)
                                    {
                                        if (i == (@ViewBag.Users.Lawyer.ServiceTypes.Count - 1))
                                        {
                                            <span>@service.Name  </span>
                                        }
                                        else
                                        {
                                            <span>@service.Name , </span>   
                                        }
                                        i++;
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </main>

            <!-- Sidebar -->
            <div class="sidebar col-md-3 col-md-offset-1">
                <aside>
                    
                </aside>
            </div>
            <!-- /Sidebar -->
        </div>


        <div class="row">
            <main class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 style="border-bottom: 1px solid #f0ad4e; margin-bottom: 10px; padding: 10px"><span style="background-color: #f0a01a; padding: 10px 20px; border-top-left-radius: 10px; border-top-right-radius: 10px;">About Lawyer</span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(@ViewBag.Lawyer.Bio)
                        </div>
                    </div>
                </div>
                <hr />
            </main>
        </div>

    </div>

</section>