@model IEnumerable<LawyersAdda.Entities.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AskQuestion")
</p>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("DateWiseSorting", new List<SelectListItem>() { new SelectListItem { Text = "Latest", Value = "1" }, new SelectListItem { Text = "Oldest", Value = "2" } }, new { @class = "form-control" })
            </div>
            <div class="col-md-10">
                <input type="checkbox" name="SelectQuestion" class="SelectQuestion" data-off-text="Pending" data-on-text="ALL" />
            </div>
     </div>
@foreach (var item in Model)
{
    <div class="row" style="margin-bottom:5px;">
        @if (item.isAnswered)
        {
            <div class="col-md-2" style="font-size: 50px; color: #007128">
                <i class="glyphicon glyphicon-ok-circle" style="top:15px;"></i>
            </div>
        }
        else
        {
            <div class="col-md-2" style="font-size: 50px; color: #b90000">
                <i class="glyphicon glyphicon-remove-circle" style="top:15px;"></i>
            </div>
        }
        <div class="col-md-8">
            <h3> @item.Title </h3>
            <p> @item.ModifiedDate <br/>
            @Html.Raw(@item.HTMLText)
            @item.Services.Name<br/>
            </p>
        </div>
        <div class="col-md-2" style="margin-top:25px;">
            <a href="/Questions/ViewQuestion/@item.QuestionID"><button class="btn btn-danger"> View </button></a>
        </div>
    </div>
}
    </div>
<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script>
        var SelectQuestion=@ViewBag.SelectQuestion;
        var Order;
        $(document).ready(function () {
            $("#DateWiseSorting").val(@ViewBag.Order);
            if(@ViewBag.SelectQuestion==1)
            {
                $("input[name='SelectQuestion']").attr('checked','checked');
            }
            $("input[name='SelectQuestion']").bootstrapSwitch();
            $("input[name='SelectQuestion']").on('switchChange.bootstrapSwitch', function(event, state) {
                if(state==true)
                {
                    SelectQuestion=1;
                }
                else
                {
                    SelectQuestion=3;
                }
                LoadQuestion();
            });
        });
        $("#DateWiseSorting").change(function () {
            LoadQuestion();
        });
        function LoadQuestion() {
            Order = $("#DateWiseSorting").val();
            window.location.href="/Questions/Index?Order=" + Order + "&SelectQuestion=" + SelectQuestion;
        }
    </script>
}
